.user-icon {
    height: 20px;
    width: 20px;
}
.outside-picture {
    width: 100%;
    max-height: 320px;
}
.user-picture {
    height: 150px;
    width: 150px;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      