{% extends "admin/base.html" %}
{% macro render_field(field, placeholder=None) %}
    {% if field.errors %}
    <div>
    {% elif field.flags.error %}
    <div>
    {% else %}
    <div>
    {% endif %}
        {% set css_class = 'form-control validate' + kwargs.pop('class', '') %}
        {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
    </div>
  {% endmacro %}

{% block head %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}
{% block nav_large %}
    {{ super() }}
{% endblock %}
{% block nav_mobile %}
    {{ super() }}
{% endblock %}
{% block left_panel %}
    {{super()}}
{% endblock %}
{% block content %}
    <div class="row">
        <img class="materialboxed outside-picture"
             src="{{ url_for('static', filename='images/company/outside_sub.jpg') }}"
             data-caption="{{ employee.name }}, Credit: Dan Dalton/Getty Images">
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large red z-depth-3">
            <i class="large material-icons">menu</i>
            </a>
            <ul>
                <li><a id="editEmp"
                        class="btn-floating blue darken-1 z-depth-2 tooltipped waves-effect waves-light modal-trigger"
                        data-position="left"
                        data-delay="50"
                        data-tooltip="Change Employee data"
                        href="#editModal"><i class="material-icons">mode_edit</i></a></li>
                <li><a id="deleteEmp"
                       class="btn-floating yellow darken-1 z-depth-5 tooltipped waves-effect waves-red modal-trigger"
                       data-position="left"
                       data-delay="50"
                       data-tooltip="Delte this Employee"
                       href="#deleteModal"><i class="material-icons">warning</i></a></li>
            </ul>
        </div>
        <div id="editModal" class="modal">
            <div class="modal-content">
                <h4>Edit Employee Data</h4>
                <form id="editForm" method="PUT" action="." accept-charset="UTF-8" role="form" class="container">
                    {{ newempform.csrf_token }}
                    <label for="email">Email </label>
                    {{ render_field(newempform.email, placeholder="Your Email Address",
                                                autofocus="", class="col s6") }}
                    <label for="password">Password </label>
                    {{ render_field(newempform.password, placeholder="Password", class="col s6") }}
                    <label for="password_repeat">Repeat your password </label>
                    {{ render_field(newempform.password_repeat, placeholder="Please type again your password", class="col s6") }}
                    <label for="name">Name </label>
                    {{ render_field(newempform.name, placeholder="Name", class="col s6") }}
                    <label for="second_name">Second Name <small>optional</small></label>
                    {{ render_field(newempform.second_name, placeholder="Second Name", class="col s6") }}
                    <label for="lastname">Last Name </label>
                    {{ render_field(newempform.lastname, placeholder="Last Name", class="col s6") }}
                    <label for="second_lastname">Second Last Name <small>optional</small></label>
                    {{ render_field(newempform.second_lastname, placeholder="Second Last Name", class="col s6") }}
                    <label for="rfc">RFC </label>
                    {{ render_field(newempform.rfc, placeholder="RFC", class="col s6") }}
                    <label for="company">Subsidiary</label>
                    {{ render_field(newempform.subsidiary_id, placeholder="Subsidiary Id", class="col s6") }}
                    <label for="job_name">Position</label>
                    {{ render_field(newempform.job_name, placeholder="Position to fill", class="col s6") }}
                    <button class="btn waves-effect waves-light" type="submit" name="submit">Save {{ employee.name }} changes
                        <i class="material-icons right">send</i>
                    </button>
                </form>                
            </div>
        </div>
        <div id="deleteModal" class="modal">
            <div class="modal-content">
                <h3 class="red-text">Delete Employee {{ employee.name }} from registry?</h3>
                <p class="flow-text">
                    Warning This is an irreversible action, are you sure to delete {{ employee.name }}? 
                </p>
                <div class="modal-footer">
                    <a class="modal-action modal-close waves-effect waves-green btn-flat green-text">Cancel</a>
                    <a id="confirmDelete" class="modal-action modal-close waves-effect waves-red btn-flat red-text">Delete {{ employee.name }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s8">
        <!-- Promo Content 2 goes here -->
            <h2>Employee {{ employee.name }}</h2>
            <img src="{{ url_for('static', filename='images/user/user-icon.png')}}" alt="user icon" class="circle user-picture">
            <div class="row">
                <div class="col s4">
                    <ul class="collection">
                        <li class="collection-item">
                            <span class="title">Email</span>
                            <p>
                                {{ employee.email }}
                            </p>
                        </li>
                        <li class="collection-item">
                            <span class="title">Second Name</span>
                            <p>
                                {{ employee.second_name }}
                            </p>
                        </li>
                        <li class="collection-item">
                            <span class="title">Last Name</span>
                            <p>
                                {{ employee.lastname }}
                            </p>
                        </li>
                        <li class="collection-item">
                            <span class="title">Second Last Name</span>
                            <p>
                                {{ employee.second_lastname }}
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col s4">
                    <ul class="collection">
                        <li class="collection-item">
                            <span class="title">RFC</span>
                            <p>
                                {{ employee.rfc }}
                            </p>
                        </li>
                        <li class="collection-item">
                            <span class="title">subsidiary</span>
                            <p>
                                {{ current_sub.name }}
                            </p>
                        </li>
                        <li class="collection-item">
                            <span class="title">Position</span>
                            <p>
                                {{ employee.job_name }}
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/admin/employee_detail.js') }}"></script>
{% endblock%}