{% extends "admin/base.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin/home.css')}}">
{% endblock %}
{% block nav_large %}
    {{ super() }}
{% endblock %}
{% block nav_mobile %}
    {{ super() }}
{% endblock %}
{% block left_panel %}
    {{super()}}
{% endblock %}
{% block content %}
    <div class="row">

      
      <div class="col s8 offset-s2">
        <!-- Promo Content 2 goes here -->
        <h1 class="orange-text">Urgent Announcement!</h1>
        <p class="flow-text">
            Sint laboris adipisicing enim ipsum non aliqua nisi incididunt. Sunt non anim ea officia ad eiusmod ipsum. Consectetur laboris nisi magna ipsum tempor anim do culpa ad laboris dolor. Ut dolor laboris ut duis dolor velit quis. Eu ex ex pariatur dolor amet officia labore cupidatat. Incididunt pariatur non excepteur do irure ea excepteur fugiat.
        </p>
      </div>
      <div class="row">
          <div class="col s6">
            <!-- Promo Content 1 goes here -->
            <h3>Last messages</h3>
            <div class="collection">
                <a href="#!" class="collection-item">Alan<span class="badge">1</span></a>
                <a href="#!" class="collection-item">Mike<span class="new badge">4</span></a>
                <a href="#!" class="collection-item">Joseph <span class="new badge">2</span></a>
                <a href="#!" class="collection-item">Jessie<span class="badge">14</span></a>
            </div>
        
        </div>
        <div class="col s6">
            <!-- Promo Content 3 goes here -->
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="http://materializecss.com/images/office.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Info about new product<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Info about new product<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
                    
        </div>
      </div>

    </div>
{% endblock %}
{% block scripts %}
{% endblock%}