{% extends "admin/base.html" %}
{% macro render_field(field, placeholder=None) %}
    {% if field.errors %}
    <div>
    {% elif field.flags.error %}
    <div>
    {% else %}
    <div>
    {% endif %}
        {% set css_class = 'form-control validate' + kwargs.pop('class', '') %}
        {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
    </div>
  {% endmacro %}

{% block head %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}
{% block nav_large %}
    {{ super() }}
{% endblock %}
{% block nav_mobile %}
    {{ super() }}
{% endblock %}
{% block left_panel %}
    {{super()}}
{% endblock %}
{% block content %}
    <div class="row">
        <img class="materialboxed outside-picture"
             src="{{ url_for('static', filename='images/company/outside_sub.jpg') }}"
             data-caption="{{ subsidiary.name }}, Credit: Dan Dalton/Getty Images">
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large red z-depth-3">
            <i class="large material-icons">menu</i>
            </a>
            <ul>
                <li><a id="editSub"
                        class="btn-floating blue darken-1 z-depth-2 tooltipped waves-effect waves-light modal-trigger"
                        data-position="left"
                        data-delay="50"
                        data-tooltip="Change subsidiary data"
                        href="#editModal"><i class="material-icons">mode_edit</i></a></li>
                <li><a id="deleteSub"
                       class="btn-floating yellow darken-1 z-depth-5 tooltipped waves-effect waves-red modal-trigger"
                       data-position="left"
                       data-delay="50"
                       data-tooltip="Delte this subsidiary"
                       href="#deleteModal"><i class="material-icons">warning</i></a></li>
            </ul>
        </div>
        <div id="editModal" class="modal">
            <div class="modal-content">
                <h4>Edit Subsidiary Data</h4>
                <form id="editForm" method="PUT" action="." accept-charset="UTF-8" role="form" class="container">
                    {{ editform.csrf_token }}
                    <label for="name">Name</label>
                    {{ render_field(editform.name, placeholder="New Name",
                                                autofocus="", class="validate") }}
                    <label for="street">Street</label>
                    {{ render_field(editform.street, placeholder="New Street name", class="validate") }}
                    <label for="suburb">Suburb</label>
                    {{ render_field(editform.suburb, placeholder="New Suburb", class="validate") }}
                    <label for="ext_number">Exterior Number</label>
                    {{ render_field(editform.ext_number, placeholder="New Exterior number", class="validate") }}
                    <label for="interior_number">Interior Number</label>
                    {{ render_field(editform.interior_number, placeholder="New Interior Number", class="validate") }}
                    <label for="postal_code">Postal Code</label>
                    {{ render_field(editform.postal_code, placeholder="New Postal Code", class="validate") }}
                    <label for="city">City</label>
                    {{ render_field(editform.city, placeholder="New City", class="validate") }}
                    <label for="country">Country</label>
                    {{ render_field(editform.country, placeholder="New Country", class="validate") }}
                    <button class="btn waves-effect waves-light" type="submit" name="submit">Save {{subsidiary.name}} changes
                        <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
        </div>
        <div id="deleteModal" class="modal">
            <div class="modal-content">
                <h3 class="red-text">Delete Subsidiary {{ subsidiary.name }} from registry?</h3>
                <p class="flow-text">
                    Warning This is an irreversible action, deleting {{ subsidiary.name }} will also delete from registry all belonging employees.
                </p>
                <div class="modal-footer">
                    <a class="modal-action modal-close waves-effect waves-green btn-flat green-text">Cancel</a>
                    <a id="confirmDelete" class="modal-action modal-close waves-effect waves-red btn-flat red-text">Delete {{ subsidiary.name }}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s4 hide-on-small">
            <ul class="collection with-header">
                <li class="collection-header"><h3>Employees</h3></li>
                {% for employee in employees %}
                    <a href="{{ url_for('admin.employees')}}{{ employee.rfc}}" class="collection-item">{{ employee.name }}</a>
                {% endfor %}
            </ul>

        </div>
        <div class="col s8">
        <!-- Promo Content 2 goes here -->
            <h2>Subsidiary {{ subsidiary.name }}</h2>
            <div class="row">
                <div class="col s4">
                    <ul class="collection">
                        <li class="collection-item">
                            <span class="title">Street</span>
                            <p>
                                {{ subsidiary.street }}
                            </p>
                        </li>
                        <li class="collection-item">
                            <span class="title">Suburb</span>
                            <p>
                                {{ subsidiary.suburb }}
                            </p>
                        </li>
                        <li class="collection-item">
                            <span class="title">Exterior Number</span>
                            <p>
                                {{ subsidiary.ext_number }}
                            </p>
                        </li>
                        <li class="collection-item">
                            <span class="title">Interior Number</span>
                            <p>
                                {{ subsidiary.interior_number }}
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col s4">
                    <ul class="collection">
                        <li class="collection-item">
                            <span class="title">Postal Code</span>
                            <p>
                                {{ subsidiary.postal_code }}
                            </p>
                        </li>
                        <li class="collection-item">
                            <span class="title">City</span>
                            <p>
                                {{ subsidiary.city }}
                            </p>
                        </li>
                        <li class="collection-item">
                            <span class="title">Country</span>
                            <p>
                                {{ subsidiary.country }}
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/admin/subsidiary_detail.js') }}"></script>
{% endblock%}